@use "./variables" as *;

/* DESKTOP STYLES - MIN-WIDTH: 768px */

@media (min-width: 768px) {
  .logo {
    img {
      max-width: 150px;
    }
  }

  .social {
    small {
      font-size: 1rem;
    }
    svg {
      width: 64px;
      height: 64px;
    }
  }

  /* HERO */

  .hero {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: relative;

    .hero-title {
      gap: 1rem;
      padding: 1rem;
      h1 {
        font-size: 8rem;
        line-height: 0.5;
        letter-spacing: -2px;
        overflow-wrap: break-word;
      }

      p {
        font-size: 2rem;
      }
    }

    .hero-cta {
      display: grid;
      justify-items: center;
      gap: 0.5rem;
      width: 100%;
      margin-bottom: 1rem;
      padding: 1rem;
    }
  }
  /*ABOUT*/

  /* About section */

  .about-section {
    padding: 2rem;

    img {
      max-height: 400px;
    }

    .expanded-content {
      margin-top: 0.25rem;
    }

    .stats-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0.5rem;
      margin-block: 2rem 1rem;
      .stat-item {
        .stat-number {
          font-family: $font-header;
          font-size: 2.5rem;
          line-height: 0.9;
          font-weight: 900;
          color: $gray-700;
        }
      }
    }
  }

  /* FEATURES */

  .features-section {
    padding: 3rem 2rem;
    ul {
      display: flex;
      grid-template-columns: 1fr 1fr;
      gap: 0.25rem;
      width: 100%;

      li {
        width: 100%;

        img {
          width: 72px;
          height: 72px;
        }
      }
    }
  }
}
