/*-------------------------------------------------------------*/
/*SCSS RESET*/
/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles */
ul[role=list],
ol[role=list],
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/* Remove animations and transitions for people who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*---------------------------------------------------------------*/
body {
  font-family: "Roboto", sans-serif;
  background: #131313;
}

/*TYPOGRAPHY*/
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  line-height: 1.2;
}

h1,
h2,
h3 {
  font-family: "Teko", sans-serif;
  font-weight: 700;
}

h3,
h4 {
  font-weight: 500;
}

h4,
p,
small {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 2.5rem;
}

.font-header {
  font-family: "Teko", sans-serif;
}

/*ASSETS*/
/*BAKCGROUND*/
.surface-glass {
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  background: rgba(184, 184, 184, 0.2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.img-overlay {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.img-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(44, 44, 44, 0.5);
  pointer-events: none;
}

/* Base Button */
.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 99px;
  transition: background-color 0.3s ease;
  color: #ffffff;
}

/* Primary Button */
.btn-primary, .btn-tab-outline, .btn-icon-primary {
  background-color: #ff8d47;
  border: solid 0.2em #ff8d47;
  padding: 1rem 2rem;
}
.btn-primary:hover, .btn-tab-outline:hover, .btn-icon-primary:hover {
  background-color: rgb(167, 83, 18);
}

/* Icon Button Variant (filled) */
.btn-icon-primary {
  padding: 1rem;
}

.btn-outline, .btn-icon-outline {
  background: transparent;
  border: solid 0.2em #ff8d47;
  padding: 1rem 2rem;
}

/* Icon Button Variant (filled) */
.btn-tab-outline {
  padding: 1rem;
}

/* Icon Button Variant (outline) */
.btn-icon-outline {
  padding: 1rem;
}
.btn-icon-outline:hover {
  background-color: rgb(167, 83, 18);
}

/*BADGE*/
.badge {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border: none;
  border-radius: 99px;
  padding: 0.25rem 0.5rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
}
.badge svg {
  width: 14px;
  aspect-ratio: 1/1;
}

.badge-primary {
  background-color: #ff8d47;
  color: #131313;
}

.badge-list {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

/* LAYOUT */
section:not(.hero),
footer {
  display: grid;
  padding: 2rem 0.5rem;
}

/*NAVBAR*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}
nav .navbar {
  background: #ffffff;
  width: 100%;
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 2rem;
}
nav .navbar .nav-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
nav .navbar .nav-header .logo {
  color: #131313;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-decoration: none;
}
nav .navbar .nav-header .menu-toggle {
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}
nav .navbar .nav-header .menu-toggle .bar {
  background: #ff8d47;
  width: 28px;
  height: 4px;
  transition: all 0.3s ease;
  position: absolute;
}
nav .navbar .nav-header .menu-toggle .bar:nth-child(1) {
  transform: translateY(-6px);
}
nav .navbar .nav-header .menu-toggle .bar:nth-child(2) {
  transform: translateY(6px);
}
nav .navbar .nav-header .menu-toggle.open .bar:nth-child(1) {
  transform: rotate(45deg);
}
nav .navbar .nav-header .menu-toggle.open .bar:nth-child(2) {
  transform: rotate(-45deg);
}
nav .navbar .nav-dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  display: grid;
  gap: 0;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  font-weight: 400;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #ffffff;
}
nav .navbar .nav-dropdown.open {
  max-height: 500px;
  opacity: 1;
  pointer-events: auto;
  gap: 1rem;
  padding-top: 1rem;
}
nav .navbar .nav-dropdown li a {
  color: #131313;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
nav .navbar .nav-dropdown li a:hover {
  color: #ff8d47;
}
nav .navbar .nav-dropdown li a:hover .nav-icon {
  transition: all 0.3s ease;
  transform: rotate(90deg);
}
nav .navbar .nav-dropdown li .nav-icon {
  color: #ff8d47;
}

@media (min-width: 768px) {
  .navbar {
    max-width: 400px;
  }
}
.hero {
  height: 75vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: #131313;
  overflow: hidden;
  position: relative;
}
.hero .hero-header {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 1rem;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero .hero-header h1 {
  line-height: 0.8;
  margin: 0;
  font-size: clamp(4rem, 10vw, 6rem);
  text-transform: uppercase;
  letter-spacing: -2px;
  margin: 0 auto;
  overflow-wrap: break-word;
  padding: 0 0.5rem;
}
.hero .hero-header p {
  font-size: clamp(1rem, 2vw, 2.5rem);
  text-transform: uppercase;
  font-weight: 600;
}
.hero .hero-btns {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.hero video {
  position: absolute;
  filter: contrast(120%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -99;
}
.hero .hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(237, 237, 237, 0.3);
  z-index: -1;
}

@media (min-width: 768px) {
  .hero {
    min-height: 85vh;
  }
  .hero .hero-header h1 {
    font-size: clamp(3rem, 13vw, 7rem);
  }
  .hero .hero-header p {
    font-size: clamp(1rem, 2vw, 2.5rem);
  }
}
.carousel-container {
  background: #ffffff;
  width: 100%;
  overflow: hidden;
}
.carousel-container .carousel-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 1rem;
  color: #222222;
}
.carousel-container .carousel-wrapper .marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.carousel-container .carousel-wrapper .marquee .marquee-content {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  animation: scroll 30s linear infinite;
}
.carousel-container .carousel-wrapper .marquee .marquee-content .marquee-word {
  white-space: nowrap;
  margin-right: 2rem;
  position: relative;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/*PROGRAM*/
.program-section {
  gap: 1rem;
}
.program-section h2 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 1rem;
}
.program-section .program-nav {
  display: flex;
  justify-content: space-around;
  overflow-x: auto;
  margin-bottom: 1rem;
}
.program-section .program-nav .nav-tab {
  color: #a5a5a5;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.program-section .program-nav .nav-tab.active {
  color: #ffffff;
  border-bottom: solid 2px #ff8d47;
}
.program-section .program-card {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: solid 0.2em #ffffff;
  border-radius: 1rem;
  color: #ffffff;
  width: 100%;
  background: #222222;
  overflow: hidden;
  transition: transform 0.3s ease;
  flex-direction: column;
}
.program-section .program-card .card-img {
  width: 100%;
}
.program-section .program-card .card-img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 150px;
}
.program-section .program-card .card-img h3 {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0.5rem;
  font-size: 10rem;
  line-height: 1;
}
.program-section .program-card .card-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem 1rem 1rem;
}
.program-section .program-card .card-body h4 {
  font-size: 0.75rem;
  border: red;
  line-height: 1.5;
}
.program-section .program-card .card-body .card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.program-section .program-card .card-body .card-title h3 {
  font-size: 2rem;
}
.program-section .btn-row {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Responsive */
@media (min-width: 768px) {
  .card-img img {
    max-height: 180px;
  }
  button {
    display: none;
  }
}
/*TESTIMONIALS*/
/* Testimonials section */
.testimonial-section {
  color: #ffffff;
  background: #2c2c2c;
}
.testimonial-section h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.testimonial-section .testimonial-content {
  flex-wrap: wrap;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.testimonial-section .testimonial-content .testimonial-card {
  display: flex;
  border: solid 0.2em #ffffff;
  border-radius: 1rem;
  background: #222222;
  min-width: 200px;
  max-width: 400px;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  transition: transform 0.3s ease;
  font-size: 1rem;
  font-weight: 300;
}
.testimonial-section .testimonial-content .testimonial-card:hover {
  border: solid 0.2em #ff8d47;
}
.testimonial-section .testimonial-content .testimonial-card .testimonial-footer {
  display: flex;
  gap: 0.5rem;
}
.testimonial-section .testimonial-content .testimonial-card .testimonial-footer img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.testimonial-section .testimonial-content .testimonial-card .testimonial-footer .testimonial-signature {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .testimonial-quote {
    font-size: 0.9rem;
  }
}
/*ABOUT*/
/* About section */
.about-section {
  gap: 1rem;
  color: #ffffff;
}
.about-section h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.about-section .about-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.about-section .about-card img {
  height: 100px;
  width: 100px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 99px;
  border: solid 0.2em #ff8d47;
}
.about-section .about-card p {
  max-width: 250px;
  text-align: justify;
}

/*FAQ*/
.faq-section {
  gap: 1rem;
  color: #ffffff;
}
.faq-section h2 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 1rem;
}

.faq-accordion .faq-item {
  border-bottom: solid 0.2em #ffffff;
}
.faq-accordion .faq-item .faq-question {
  width: 100%;
  text-align: left;
  padding: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s;
}
.faq-accordion .faq-item .faq-question:hover {
  background: #ff8d47;
}
.faq-accordion .faq-item .faq-question.active {
  color: #ffffff;
}
.faq-accordion .faq-item .faq-question .faq-toggle-icon {
  font-size: 1.5rem;
  line-height: 1;
  margin-left: 1rem;
}
.faq-accordion .faq-item .faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.3s ease;
  padding: 0 1rem;
}
.faq-accordion .faq-item .faq-answer p {
  margin: 0.5rem 0;
}
.faq-accordion .faq-item .faq-answer.open {
  max-height: 300px;
  padding: 1rem;
}

@media (min-width: 768px) {
  .accordion-button {
    font-size: 0.95rem;
  }
  .accordion-body {
    font-size: 0.9rem;
  }
}
/*FOOTER*/
/* Footer section */
.footer-section {
  background: #1a1a1a;
  color: #ffffff;
}

.footer-brand {
  font-size: 1.75rem;
  font-weight: bold;
}

.footer-section h5 {
  font-weight: 600;
  margin-bottom: 1rem;
  color: #ffffff;
}

.footer-section a {
  color: #8a8a8a;
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #ff8d47;
}

.footer-social a {
  display: inline-block;
  color: #8a8a8a;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #ff8d47;
}

.footer-section .border-top {
  border-color: #4c4c4c;
}

@media (max-width: 576px) {
  .footer-brand {
    font-size: 1.5rem;
  }
  .footer-social a {
    margin-right: 10px;
  }
}/*# sourceMappingURL=global.css.map */