@use "./variables" as *;

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  position: relative;
  z-index: 1000;

  .menu-toggle {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .bar {
      width: 32px;
      height: 3px;
      background: $white;
      border-radius: $border-radius-sm;
      margin: 3px 0;
      transition: all 0.3s ease;
    }

    &.open {
      .bar:nth-child(1) {
        transform: rotate(45deg) translate(7px, 6px);
      }
      .bar:nth-child(2) {
        opacity: 0;
      }
      .bar:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: $gray-700;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    display: grid;
    gap: 0;
    padding: 0 1rem;
    list-style: none;
    text-transform: uppercase;
    font-weight: 400;

    li {
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 0;
        text-decoration: none;

        &:hover {
          color: $accent;

          .nav-icon {
            transform: rotate(90deg);
            transition: transform 0.3s ease;
          }
        }
      }

      .nav-icon {
        color: $accent;
        transition: transform 0.3s ease;
      }
    }

    &.open {
      max-height: 500px;
      gap: 1rem;
      padding-top: 1rem;
    }

    .nav-socials {
      display: flex;
      justify-content: flex-start;
      gap: 1rem;
      padding: 1rem 0;
    }
  }
}

.social {
  display: flex;
  text-decoration: none;
  gap: 0.25rem;
  flex-direction: column;
  align-items: flex-end;
}

// Responsive adjustments
@media (min-width: 768px) {
}

/* HERO */

.hero {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;

  .hero-title {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    margin: auto;
    text-align: center;
    h1 {
      font-size: 4rem;
      line-height: 0.8;
      letter-spacing: -2px;
      overflow-wrap: break-word;
    }
  }

  .hero-cta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .avatar-stack {
    display: flex;
    align-items: center;
    width: fit-content;
    flex: auto;

    a {
      &:not(:first-child) {
        margin-left: -28px;
      }
      img {
        height: 55px;
        object-fit: cover;
        border-radius: $border-radius-full;
      }
    }
    .avatar-plus {
      width: 55px;
      height: 55px;
      background: $white;
      border-radius: $border-radius-full;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $black;
      font-size: 1.5rem;
      font-weight: bold;
      margin-left: -28px;
    }
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -99;
  }

  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    filter: contrast(120%);
    height: 100%;
    background: $overlay-dark;
    z-index: -1;
  }
}

// Responsive adjustments for desktop
@media (min-width: 768px) {
  .hero {
    min-height: 85vh;

    .hero-header {
      h1 {
        font-size: clamp(3rem, 13vw, 7rem);
      }
      p {
        font-size: clamp(1rem, 2vw, 2.5rem);
      }
    }
  }
}

.carousel-container {
  background: $gray-900;
  color: $gray-200;
  width: 100%;
  overflow: hidden;
  .carousel-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 0.75rem;
    text-transform: uppercase;
    padding: 1rem 0;
    .marquee {
      width: 100%;
      overflow: hidden;
      position: relative;
      .marquee-content {
        display: flex;
        width: max-content;
        animation: scroll 30s linear infinite;
        .marquee-word {
          white-space: nowrap;
          margin-right: 2rem;
          position: relative;
        }
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/*AUDIENCE & BRIDGE*/

.audience-section,
.bridge-section {
  background: $white;
  color: $black;
  gap: 0.5rem;
  h3 {
    text-align: start;
  }
}

svg {
  color: $gray-100;
}

.quote1 {
  margin-right: auto;
  transform: scaleX(-1);
}

.quote2 {
  margin-left: auto;
}

/*ABOUT*/

/* About section */

.about-section {
  background: $gray-100;
  color: $black;
  padding-inline: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  img {
    margin: auto;
    width: 95%;
    max-width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: $border-radius-md;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .expanded-content {
    margin-top: 0.25rem;
  }

  .stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    margin-block: 2rem 1rem;
    .stat-item {
      .stat-number {
        font-family: $font-header;
        font-size: 2.5rem;
        line-height: 0.9;
        font-weight: 900;
        color: $gray-700;
      }
    }
  }
}

.specialties {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
  justify-items: start;
}

/* PROGRAM */

.program-section {
  padding-inline: 0;
  .program-card {
    height: 100%;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;

    h2 {
      font-size: 8rem;
      line-height: 0.8;

      @media (max-width: 768px) {
        font-size: 6rem;
      }

      @media (max-width: 480px) {
        font-size: 4rem;
      }
    }

    .card-row-top {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: start;
      min-height: 200px;
      padding: 2rem 1rem;
      background-size: cover;
      background-position: center;
    }

    .program-content {
      display: grid;
      gap: 1rem;
      padding: 0 0 1rem 0;
      flex: 1;
    }

    .program-description {
      padding: 0 1rem;
    }

    .program-dropdown {
      background: $gray-800;
      padding: 1rem;
      display: grid;
      gap: 1rem;
    }

    .program-accordion {
      width: 100%;
      max-width: 600px;
      margin: auto;
      color: $accent;

      details {
        border-bottom: solid 1px $white;
        summary {
          cursor: pointer;
          list-style: none;
          padding: 0.5rem 1rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition: background 0.3s;
          &::-webkit-details-marker {
            display: none;
          }
          .faq-toggle-icon {
            font-size: 1.5rem;
            margin-left: 1rem;
            transition: transform 0.3s;
          }
        }

        &[open] {
          summary .faq-toggle-icon {
            transform: rotate(45deg); // transforms "+" to "×"
          }

          ul {
            margin-top: 0.5rem;
            padding: 0 1rem 1rem 1rem;
          }
        }
      }
    }
  }

  .swiper {
    padding: 1rem;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 100%;
    height: auto;
    display: flex;

    .program-card {
      min-height: 600px;

      @media (max-width: 768px) {
        min-height: 550px;
      }

      @media (max-width: 480px) {
        min-height: 500px;
      }
    }
  }
}

/* Responsive */
@media (min-width: 768px) {
}

/* TESTIMONIALS */

.testimonial-section {
  color: $white;
  padding: 3rem 1rem;

  .testimonial-slide {
    background: $gray-800;
    border-radius: $border-radius-md;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    height: 250px;
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
    margin: 0 auto;

    .testimonial-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 1rem;

      .testimonial-user {
        display: flex;
        gap: 0.75rem;
        align-items: center;

        img {
          border-radius: 50%;
          object-fit: cover;
          flex-shrink: 0;
        }

        .testimonial-signature {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          align-items: flex-start;
        }
      }
      .stars {
        color: gold;
        font-size: 0.8rem;
      }
    }

    blockquote {
      font-size: 0.8rem;
      font-style: italic;
      line-height: 1.3;
      flex-grow: 1;
      text-align: start;
    }
  }
}

/* FEATURES */

.features-section {
  padding-inline: 1rem;
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
    li p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: $gray-800;
      border-radius: $border-radius-md;
      align-items: center;
      padding: 1rem 0.5rem;
      font-size: 0.75rem;
      height: 100%;
      gap: 0.5rem;

      img {
        width: 48px;
        height: 48px;
        object-fit: contain;
      }
    }
  }
}

//Responsiveness Desktop
@media (min-width: 768px) {
  .testimonial-quote {
    font-size: 0.9rem;
  }
}

/* FAQ */

.faq-section {
  background: $gray-700;
  padding-inline: 1rem;
  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .faq-accordion {
    width: 100%;
    max-width: 600px;
    margin: auto;

    details {
      border-bottom: $border-white;
      padding-block: 0.5rem;

      summary {
        border-radius: $border-radius-md;

        cursor: pointer;
        list-style: none;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background 0.3s;

        &::-webkit-details-marker {
          display: none;
        }

        &:hover {
          background: $gray-700;
        }

        .faq-toggle-icon {
          font-size: 1.5rem;
          margin-left: 1rem;
          transition: transform 0.3s;
        }
      }

      &[open] {
        summary .faq-toggle-icon {
          transform: rotate(45deg); // transforms "+" to "×"
        }

        .faq-answer {
          border-radius: $border-radius-md;
          margin-top: 0.5rem;
          background: $white;
          color: $black;
          padding: 1rem;
          p {
            text-align: left;
          }
        }
      }
    }
  }
}

/*CALENDLY*/

/*FOOTER*/

footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
  a,
  svg {
    color: $white;
  }
}
