$black: #131313;
$white: #ffffff;

$gray-900: #1a1a1a;
$gray-800: #222222;
$gray-700: #2c2c2c;
$gray-600: #3a3a3a;
$gray-500: #4c4c4c;
$gray-400: #5e5e5e;
$gray-300: #707070;
$gray-200: #8a8a8a;
$gray-100: #a5a5a5;

$accent: #ff8d47;
$accent-light: #e8ff6b;
$accent-dark: rgb(167, 83, 18);
$accent-contrast: #1a1a1a;

$img-overlay: rgba(44, 44, 44, 0.5);

// Font Families
$font-header: "Teko", sans-serif;
$font-body: "Roboto", sans-serif;

// Font Weights
$fw-header: 700; // Teko looks best between 500–700
$fw-body: 400;

//Border Radius
$border-radius-md: 1rem;

//Borders
$border-white: solid 0.2em $white;
$border-accent: solid 0.2em $accent;

/*-------------------------------------------------------------*/

/*SCSS RESET*/

/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles */
ul[role="list"],
ol[role="list"],
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/* Remove animations and transitions for people who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*---------------------------------------------------------------*/

body {
  font-family: $font-body;
  background: $black;
}

/*TYPOGRAPHY*/

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  line-height: 1.2;
}

h1,
h2,
h3 {
  font-family: $font-header;
  font-weight: 700;
}

h3,
h4 {
  font-weight: 500;
}

h4,
p,
small {
  font-family: $font-body;
}

h2 {
  font-size: 2.5rem;
}

.font-header {
  font-family: $font-header;
}

/*ASSETS*/

/*BAKCGROUND*/

.surface-glass {
  backdrop-filter: blur(12px);
  background: rgba(184, 184, 184, 0.2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.img-overlay {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.img-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: $img-overlay;
  pointer-events: none;
}

/* Base Button */

.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 99px;
  transition: background-color 0.3s ease;
  color: $white;
}

/* Primary Button */
.btn-primary {
  background-color: $accent;
  border: $border-accent;
  padding: 1rem 2rem;

  &:hover {
    background-color: $accent-dark;
  }
}

/* Icon Button Variant (filled) */
.btn-icon-primary {
  @extend .btn-primary;
  padding: 1rem;
}

.btn-outline {
  background: transparent;
  border: $border-accent;
  padding: 1rem 2rem;
}

/* Icon Button Variant (filled) */
.btn-tab-outline {
  @extend .btn-primary;
  padding: 1rem;
}

/* Icon Button Variant (outline) */
.btn-icon-outline {
  @extend .btn-outline;
  padding: 1rem;

  &:hover {
    background-color: $accent-dark;
  }
}

/*BADGE*/

.badge {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border: none;
  border-radius: 99px;
  padding: 0.25rem 0.5rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
  svg {
    width: 14px;
    aspect-ratio: 1/1;
  }
}

.badge-primary {
  background-color: $accent;
  color: $black;
}

.badge-list {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

/* LAYOUT */

section:not(.hero),
footer {
  display: grid;
  padding: 2rem 0.5rem;
}
